.card {
  @include eq-pts((
    half: 480,
    full: 960,
  ));

  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 10px rgba(153,153,153,0.5);
  display: flex;
  flex-direction: column;

  img {
    border-radius: 3px 3px 0 0;
  }

  &__title {
    font-size: 1.5rem;
    margin-top: .25rem;
  }

  &__content {
    font-size: 0.8rem;
    padding: 0.75rem;
  }

  // ---------------------------------------------------------------------------
  // Element Query Sizes
  // ---------------------------------------------------------------------------

  // eq(half) creates [data-eq-state$=half]
  @include eq(half, full) {
    align-items: center;
    flex-direction: row;

    .card__image {
      padding-left: 1rem;
      img { border-radius: 0; }
    }

    .card__content { padding-left: 1rem; }

    .btn {
      @include button-size($padding-y: .5rem, $padding-x: .75rem, $font-size: 0.75rem, $border-radius: .25rem);
    }
  }

  @include eq(half) {
    .card__content {
      h1 { margin-bottom: 0; }
      p:last-child { margin-bottom: 0.6rem; }
    }
  }

  @include eq(full) {
    h1 {
      color: lighten(#000, 40%);
      font-size: 1.25rem;
    }

    .card__image { flex-basis: 20%; }

    .card__content {
      align-items: center;
      display: flex;

      p:last-child {
        color: lighten(#000, 40%);
        margin-bottom: 0.6rem;
      }
    }

    .card__desc { padding-right: 1rem; }
  }
}

@include eq-selectors;