<div class="card">
  <div class="card__image">
    <img src="http://placehold.it/600x400" alt="Isn't that interesting" class="img-fluid">
  </div>
  <div class="card__content">
    <div class="card__desc">
      <h1 class="card__title">Isn't that interesting</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, deserunt facere alias ipsa nesciunt quibusdam eos. Corrupti ipsam hic dolor dolorum, sed nobis autem. Ullam laudantium consequuntur.</p>
    </div>
    <div class="card__button">
      <a href="" class="btn">Read More</a>
    </div>
  </div>
</div>