<section class="movies">
  <h1 class="movies__header">Movie Listing</h1>
  <div class="movies__listing">
    <article class="movie">
      <div class="movie__poster">
        <img src="https://image.tmdb.org/t/p/original/tb86j8jVCVsdZnzf8I6cIi65IeM.jpg" alt="" class="img-fluid">
      </div>
      <div class="movie__body">
        <h2 class="movie__title">Annabelle: Creation</h2>
        <div class="movie__director">David F. Sandberg</div>
      </div>
    </article>
    <article class="movie">
      <div class="movie__poster">
        <img src="https://image.tmdb.org/t/p/original/9E2y5Q7WlCVNEhP5GiVTjhEhx1o.jpg" alt="" class="img-fluid">
      </div>
      <div class="movie__body">
        <h2 class="movie__title">It</h2>
        <div class="movie__director">Andy Muschietti</div>
      </div>
    </article>
    <article class="movie">
      <div class="movie__poster">
        <img src="https://image.tmdb.org/t/p/original/imekS7f1OuHyUP2LAiTEM0zBzUz.jpg" alt="" class="img-fluid">
      </div>
      <div class="movie__body">
        <h2 class="movie__title">Wonder Woman</h2>
        <div class="movie__director">Patty Jenkins</div>
      </div>
    </article>
    <article class="movie">
      <div class="movie__poster">
        <img src="https://image.tmdb.org/t/p/original/y31QB9kn3XSudA15tV7UWQ9XLuW.jpg" alt="" class="img-fluid">
      </div>
      <div class="movie__body">
        <h2 class="movie__title">Guardians of the Galaxy</h2>
        <div class="movie__director">James Gunn</div>
      </div>
    </article>
    <article class="movie">
      <div class="movie__poster">
        <img src="https://image.tmdb.org/t/p/original/wdTxYt6ZmU87938VkDExuk3sNdA.jpg" alt="" class="img-fluid">
      </div>
      <div class="movie__body">
        <h2 class="movie__title">The Hitman's Bodyguard</h2>
        <div class="movie__director">Patrick Hughes</div>
      </div>
    </article>
    <article class="movie">
      <div class="movie__poster">
        <img src="https://image.tmdb.org/t/p/original/i9GUSgddIqrroubiLsvvMRYyRy0.jpg" alt="" class="img-fluid">
      </div>
      <div class="movie__body">
        <h2 class="movie__title">The Dark Tower</h2>
        <div class="movie__director">Nikolaj Arcel</div>
      </div>
    </article>
    <article class="movie">
      <div class="movie__poster">
        <img src="https://image.tmdb.org/t/p/original/k1QUCjNAkfRpWfm1dVJGUmVHzGv.jpg" alt="" class="img-fluid">
      </div>
      <div class="movie__body">
        <h2 class="movie__title">Deadpool</h2>
        <div class="movie__director">Tim Miller</div>
      </div>
    </article>
    <article class="movie">
      <div class="movie__poster">
        <img src="https://image.tmdb.org/t/p/original/1hRoyzDtpgMU7Dz4JF22RANzQO7.jpg" alt="" class="img-fluid">
      </div>
      <div class="movie__body">
        <h2 class="movie__title">The Dark Knight</h2>
        <div class="movie__director">Christopher Nolan</div>
      </div>
    </article>
  </div>
</section>